body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #008066;
    padding: 10px 20px;
    align-items: center;
}

.nav-left a, .nav-right div {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-left a.active {
    background-color: #00a884;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-right .avatar {
    background-color: #74c0fc;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
}

.container {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.info {
    margin-top: 10px;
}

.no-data {
    color: #777;
    text-align: center;
    margin-top: 40px;
}
.summary-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.summary-box h3 {
    margin-bottom: 10px;
    text-align: center;
}

.summary-box ul {
    list-style-type: none;
    padding: 0;
}

.summary-box li {
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
}
